if SHIELD_BROCCOLI_RIGHT

config ZMK_KEYBOARD_NAME
    default "broccoli"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING
    default y

config PMW3610
    default y

config PMW3610_REPORT_INTERVAL_MIN
    default 12

config PMW3610_INVERT_X
    default y

endif # SHIELD_BROCCOLI_RIGHT

if SHIELD_BROCCOLI_LEFT || SHIELD_BROCCOLI_RIGHT

config ZMK_SPLIT
    default y

config SPI
    default y

endif # SHIELD_BROCCOLI_LEFT || SHIELD_BROCCOLI_RIGHT
