manifest:
  defaults:
    revision: v0.3
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    # Additional modules containing boards/shields/custom code can be listed here as well
    # See https://docs.zephyrproject.org/3.2.0/develop/west/manifest.html#projects
    - name: tomori-k
      url-base: https://github.com/tomori-k
  projects:
    - name: zmk
      remote: zmkfirmware
      import: app/west.yml
    - name: zmk-pmw3610-driver
      remote: tomori-k
      revision: rotate30
    - name: zmk-behavior-auto-capsword
      remote: tomori-k
      revision: v2025.12.24
  self:
    path: config
